<%#= render 'promo_bars/bar' %>
<div class="container-fluid">
  <div class="hero">
    <h1>Launch Your Startup</h1>
    <p>Easily build your lead list.</p>
    <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-primary' %>
  </div>
</div>