<%#= render 'promo_bars/bar' %>
<div class="container-fluid">
  <div class="hero-bg home"></div>
  <div class="hero">
    <h1>Growth Tools for Lead Gen</h1>
    <p>Spin up landing pages, email capture forms, and "hello" bars in minutes.</p>
    <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-primary btn-raised' %>
  </div>
</div>
