// Place all the styles related to the PromoBars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.promo-bar-wrapper {
  background: $brand-primary;
  color: white;
  padding: 2em;
  display: none;
}

.promo-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
