<div id="promoBar"  class="promo-bar-wrapper">
  <div class="promo-bar container">
    <h4><%= @promo_bar.headline %></h4>
    <%= link_to 'Click Here', @promo_bar.link, class: 'btn btn-warning' %>
  </div>
</div>
  
